.img-floating {
    position: absolute;
    animation: floatAnimation 5s linear infinite;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.col-md-6 {
    padding-left: 100px;
}